body { margin:0; background-color:#fefdf6; font-size:18px; }
.header { text-align:center; }
.footer { text-align:center; margin-top:5px; }

table { width: 100%; border-collapse: collapse; border-radius: 6px; border-style: hidden; box-shadow: inset 0 0 0 1px #c3c3c3; }
table th, td { text-align:center; padding: 2px; }
table th {  line-height: 2em; }
table td { border: 1px solid #d6d6d6; }
hr { margin:1px 0; border:1px solid #e1e1e1; background-color:#e1e1e1; }
div:focus,
div:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(244,247,199,.5); /* 針對 Android Chrome */
}
.control { height:2em; font-size:1.15em; position: relative; }
.title { text-align:center; cursor:default; }
.prev { cursor:pointer; position: absolute; }
.next { cursor:pointer; position: absolute; right: 0; }
.side { position:fixed; text-align:center; top:2em; right:0; color:#fff; cursor:default;transition: transform .3s ease-out; }
.menu { position:relative;}
.tag { position:absolute; right:0; background-color:rgba(156,156,156,.8); padding:10px; border-radius:6px 0 0 6px; cursor:pointer; }
.desc { position:absolute; left:0; padding:10px; width:3em; background-color:rgba(156,156,156,.8); border-radius:0 0 0 6px; }
.playoff { background-color: #d8fff1 !important; }
.ts { box-shadow: inset 0 0 10px 0px #ffff87; }
.fit { width: 14.3%; }
.content {
  overflow: hidden;
  position: relative;
  width: 100%; /* 或你實際寬度 */
}
.icon { display: inline-block;vertical-align: middle;margin-top: -0.25em;position: relative;text-indent: -99999px;
	overflow: hidden;background-repeat: no-repeat;width:20px;height:20px;background-image: url("icon.png"); }
.icon-team-bro { background-position: 0 0; }
.icon-team-lio { background-position: -20px 0; }
.icon-team-ruk { background-position: -40px 0; }
.icon-team-fub { background-position: -60px 0; }
.icon-team-wei { background-position: -80px 0; }
.icon-tv-momo { background-position: 0 -20px; }
.icon-tv-elev { background-position: -20px -20px; }
.icon-tv-vlsp { background-position: -40px -20px; }
.icon-tv-elta { background-position: -60px -20px; }
.icon-stm-tw { background-position: 0 -40px; }
.icon-stm-yt { background-position: -20px -40px; }
.icon-stm-f { background-position: -40px -40px; }
.icon-week-mon { background-position: 0 -60px; }
.icon-week-tue { background-position: -20px -60px; }
.icon-week-web { background-position: -40px -60px; }
.icon-week-thr { background-position: -60px -60px; }
.icon-week-fri { background-position: -60px -40px; }
.icon-week-sat { background-position: -80px -40px; }
.icon-week-sun { background-position: -80px -60px; }

.fadeIn { transform:translateX(-4.2em); }
@media screen and (min-width: 992px) {
	.container {width: 30rem;margin: 0 auto;}
}
