.icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -0.25em;
	position: relative;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	width:20px;
	height:20px;
	background-image: url("icon.png");
}

.icon-team-bro { background-position: 0 0; }
.icon-team-lio { background-position: -20px 0; }
.icon-team-ruk { background-position: -40px 0; }
.icon-team-fub { background-position: -60px 0; }
.icon-team-wei { background-position: -80px 0; }
.icon-tv-momo { background-position: 0 -20px; }
.icon-tv-vlsp { background-position: -20px -20px; }
.icon-tv-elev { background-position: -40px -20px; }
.icon-tv-elta { background-position: -60px -20px; }
.icon-stm-tw { background-position: 0 -40px; }
.icon-stm-yt { background-position: -20px -40px; }
.icon-stm-f { background-position: -40px -40px; }
.icon-week-mon { background-position: 0 -60px; }
.icon-week-tue { background-position: -20px -60px; }
.icon-week-web { background-position: -40px -60px; }
.icon-week-thr { background-position: -60px -60px; }
.icon-week-fri { background-position: -60px -40px; }
.icon-week-sat { background-position: -80px -40px; }
.icon-week-sun { background-position: -80px -60px; }